<div *ngIf="supermarket">
  <h2>{{supermarket.name | uppercase}}</h2>
 
  <div>
  
      <table class="features-table" >
        <thead>
          <tr>
            <th></th>
          <th *ngFor="let time of times | keyvalue">
           {{time.key}}
          </th>
          </tr>
        </thead>
        <tbody>
          <td >
            <tr *ngFor="let hour of hours" >
              {{hour}}
              </tr>
          </td>

          <td *ngFor="let single of times| keyvalue; index as i">
             <tr *ngFor = "let ora of times[single.key] | mapToIterable:'value'">
              {{ora | mapToIterable:'value'}}
                  <ng-container
      *ngIf="(ora | mapToIterable:'value') == 'N'; then userloggedIn; else userloggedOut">
    </ng-container>

    <ng-template #userloggedIn>
      <img src="/check-icons.png" width="16" height="16" alt="cross">
    </ng-template>

    <ng-template #userloggedOut>
     
    </ng-template>
      
              </tr>

          </td>
          
        </tbody>
      </table>

  </div>
  <button (click)="goBack()">go back</button>
</div>