<div *ngIf="supermarket">
  <h2>{{supermarket.name | uppercase}} Availability</h2>
 
  <div>
  
      <table>
        <thead>
          <tr>
          <th *ngFor="let time of times | keyvalue">
           {{time.key}}
          </th>
          </tr>
        </thead>
        <tbody>
          <td *ngFor="let single of times| keyvalue let j = index;">
          
           <table  *ngFor="let s of single.value| keyvalue">
             
             <td *ngFor="let ora of s.value| keyvalue"  style="border-bottom: 1px solid #ccc;" class="glyphicon glyphicon-remove">
        
           

             </td>

          </table>
        </tbody>
      </table>

  </div>
  <button (click)="goBack()">go back</button>
</div>