/* HeroDetailComponent's private CSS styles */
label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

/*Band Style Calendar*/

.activeDay {
      background-color: #fff;
      color: #39b54a;
 }
 
 .notActive {
      background-color: #fff;
      color: #888;
 }
    
 table {
  font-family: FuturaStd-Book;
  border-spacing: 0;
  border-collapse: separate;
  table-layout: fixed;
}
table thead tr th {
  background: #41b54f;
  color: #ffffff;
  padding: 0.5em;
  overflow: hidden;
}
table thead tr th:first-child {
  border-radius: 3px 0 0 0;
}
table thead tr th:last-child {
  border-radius: 0 3px 0 0;
}
table thead tr th .day {
  display: block;
  font-size: 1.2em;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 auto 5px;
  padding: 5px;
  line-height: 1.8;
}
table thead tr th .day.active {
  background: #d1d5db;
  color: #626e7e;
}
table thead tr th .short {
  display: none;
}
table thead tr th i {
  vertical-align: middle;
  font-size: 2em;
}
table tbody tr {
  background: #f5f5f5;
}
table tbody tr:nth-child(odd) {
  background: #f5f5f5;
}


table tbody tr td {
  text-align: center;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  background-color: #fff;
  color: #888;
}

table tbody tr td.hour {
  font-size: 0.8em;
  padding: 0;
  color: #626e7e;
  background: #fff;
  border-collapse: separate;
  min-width: 100px;
  cursor: default;
}
table tbody tr td.hour span {
  display: block;
}
@media (max-width: 60em) {
  
  table thead tr th .short {
    display: block;
  }
  
}
@media (max-width: 27em) {
  table thead tr th {
    font-size: 65%;
  }
  
  table thead tr th .day {
    display: block;
    font-size: 0.4em;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0 auto 5px;
    padding: 5px;
  }
  
  table thead tr th .day.active {
    background: #d1d5db;
    color: #626e7e;
  }  

  .glyphicon-remove {
    
    box-sizing: border-box;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

}