<div *ngIf="supermarket">
  <h2>{{supermarket.name | uppercase}} Availability</h2>
 
  <div>
  
      <table>
        <thead>
          <tr>
            <th></th>
          <th *ngFor="let time of times | keyvalue">
           {{time.key}}
          </th>
          </tr>
        </thead>
        <tbody>
          <td >
            <table *ngFor="let hour of hours">
              <td>
            <tr  >
              {{hour}}
              </tr>
            </td>
            </table>
          </td>

          <td *ngFor="let single of times| keyvalue">
           <table  *ngFor="let s of single.value| keyvalue">
             <td *ngFor = "let ora of s.value  | keyvalue">
               <tr>
              {{ora.value}}
              </tr>
              </td>
              </table>
          </td>
          
        </tbody>
      </table>

  </div>
  <button (click)="goBack()">go back</button>
</div>