/* HeroDetailComponent's private CSS styles */
label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

h2{
  font: bold 1.3em 'trebuchet MS', 'Lucida Sans', Arial;
  text-align: center;
}

/*Band Style Calendar*/

.features-table {
  width: 100%;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0;
  text-shadow: 0 1px 0 #fff;
  color: #2a2a2a;
  background: #fafafa;  
  background-image: linear-gradient(top, #fff, #eaeaea, #fff);
}

.features-table td {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  border-bottom: 1px solid #cdcdcd;
  box-shadow: 0 1px 0 white;
  white-space: nowrap;
  text-align: center;
}

/*Body*/
.features-table tbody td {
  text-align: center;
  font: normal 12px Verdana, Arial, Helvetica;
  width: auto;
}

.features-table tbody td:first-child {
  background: rgba(160, 160, 160, 0.157);
  text-align: left;
}

.features-table td {
  background: #efefef;
  background: rgba(138, 228, 175, 0.205);
  border-right: 1px solid white;
}


/*Header*/
.features-table thead th {
  font: bold 1.3em 'trebuchet MS', 'Lucida Sans', Arial;  
  border-radius: 5px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top: 1px solid #7e7e7e7a; 
}

